body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/49/48/72/494872adcf51b55e610b7d3d13e50fdc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#main-header {
    position: absolute;
    top: 1.5px;
    color: red;
    animation: rotate 2s infinite linear;
    font-size: 2em;
    font-weight: bold;
    font-family: fantasy;
}




.container {
    opacity: 0.9; /* Adjusted opacity for better readability */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1); /* Background color for contrast */
}

input {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 17px;
    background: cornsilk;
    cursor: pointer;
    box-sizing: border-box;
    color: orange;
    box-shadow: 2px 5px 2px orangered; 
    border-radius: 10px;
    border: 2px 5px;
}
button:hover {
    color: #000;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.purchased label {
    text-decoration: line-through;
    color: gray;
}

.Head {
    display: flex;
    color: red;
    text-shadow: 5px 5px 5px greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3em;
}

li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px white;
    color: red;
    border-radius: 4px;
    font-family: "Exo 2", sans-serif; 
    display: flex; 
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}
